<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Стандартный логгер spring-framework-boot -->
    <!-- <include resource="org/springframework/boot/logging/logback/base.xml"/> -->
    <!-- Каталог для файлов логов -->
    <property name="LOGS" value="./logs"/>

    <!-- Логирование в консоль -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS} %yellow(%-5level) [%thread] %green(%logger{36}) - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <!-- Логирование в файл -->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/spring-boot-logger.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
            </Pattern>
        </encoder>
        <!-- Ограничения на файл -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Архивирование логов каждый день -->
            <fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{dd:MM:yyyy}.%i.log</fileNamePattern>
            <!-- Архивирование логов по объёму файла -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- Ограничение количества файлов в архиве -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Логирование каталога на уровне trace -->
    <logger name="org.sber.service.testservice" level="trace">
        <appender-ref ref="Console"/>
        <appender-ref ref="RollingFile"/>
    </logger>
</configuration>